body,
html,
#root {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
.body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
header {
  height: 100px;
}
footer {
  height: 50px;
}
main {
  flex: auto;
  background-color: #eee;
}
