@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;

  /* color */
  --body-color: #000;
  --body-bg: #fff;
  --text-color: #000;
  --text-color2: #545454;
  --text-hover-color: #6545af;
  --btn-color: #000;
  --btn-color2: #fff;
  --btn-border-color: #000;
  --btn-hover-color2: #eee;
  --link-color: #000;
  --link-hover-color: #4248ca;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  line-height: 1.2;
  font-weight: 400;
  font-size: 14px;
  color-scheme: light dark;
  color: var(--body-color);
  background-color: var(--body-bg);
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
}
p {
  margin-bottom: 0;
}
a {
  font-weight: 600;
  color: var(--link-color);
  text-decoration: none;
  transition: 0.25s ease-in-out;
}
a:not(.disable-hover):hover {
  color: var(--link-hover-color);
}
:where(h1, h2, h3, h4, h5, h6, .sta-heading) {
  font-weight: 500;
  color: var(--text-color);
  transition: 0.25s ease-in;
}

.sta-btn {
  outline: none;
  padding: 15px 25px;
  transition: 0.25s ease-in-out;
  background-color: var(--btn-color);
  color: var(--btn-color2);
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.sta-btn_solid {
  border: none;
}
.sta-btn_outline {
  border: 1px solid var(--btn-border-color);
  background-color: transparent;
  color: var(--btn-border-color);
}
.sta-btn_link {
  padding: 0;
  border: none;
  background-color: transparent;
  color: var(--link-color);
}
:where(button, .sta-btn)[disabled] {
  pointer-events: none;
  opacity: 0.7;
}

/* hover */
/* :where(h1, h2, h3, h4, h5, h6, .sta-heading):hover {
  color: var(--text-hover-color);
} */
.sta-btn_solid:not(.disable-hover):hover {
  background-color: var(--btn-hover-color2);
  color: var(--btn-color);
}
.sta-btn_outline:not(.disable-hover):hover {
  background-color: var(--btn-border-color);
  color: var(--btn-color2);
}
.sta-btn_link:not(.disable-hover):hover {
  color: var(--link-hover-color);
}
